customtkinter==5.0.3
gmpy2==2.1.5
gradio==3.16.2
keras==2.10.0
Keras_Preprocessing==1.1.2
matplotlib==3.6.2
music21==8.1.0
nltk==3.8
numpy==1.23.5
opencv_python==4.7.0.68
setuptools==65.7.0
tensorflow==2.11.1
wandb==0.13.7
future==0.18.2
pillow==9.3.0